@import "./src/scss/variables";

.roller__generator__flexbox {
  height: 8rem;
  display: flex;
  .roller__generator__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    button {
      height: 1.7rem;
      width: 1.7rem;
    }
  }
  .roller__generator__buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .roller__btn {
      width: 50%;
      height: 30%;
      &:nth-child(2) {
        position: relative;
      }
    }
  }
}
