@import "./src/scss/variables";

.roller__generator__dices {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 5rem;
  display: flex;
}

.dice {
  text-align: center;
  width: 14.2%;
}

.dice-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80%;
  &:hover {
    cursor: pointer;
  }
}

.dice-d4 {
  background-image: url("dices/d4.jpg");
}

.dice-d6 {
  background-image: url("dices/d6.jpg");
}

.dice-d8 {
  background-image: url("dices/d8.jpg");
}

.dice-d10 {
  background-image: url("dices/d10.jpg");
}

.dice-d12 {
  background-image: url("dices/d12.jpg");
}

.dice-d20 {
  background-image: url("dices/d20.jpg");
}

.dice-d100 {
  background-image: url("dices/d100.jpg");
}

.clicked {
  border: 1px solid $buttonsColor3;
  border-radius: 3px;
}