@import "../../../scss/variables";

.roller__generator__dices {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 5rem;
  display: flex;
}

.dice {
  text-align: center;
  width: 14.2%;
  position: relative;
}

.dice-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80%;
  &:hover {
    cursor: pointer;
  }
}

.dice-d4 {
  background-image: url("../../../images/dices/d4.jpg");
}

.dice-d6 {
  background-image: url("../../../images/dices/d6.jpg");
}

.dice-d8 {
  background-image: url("../../../images/dices/d8.jpg");
}

.dice-d10 {
  background-image: url("../../../images/dices/d10.jpg");
}

.dice-d12 {
  background-image: url("../../../images/dices/d12.jpg");
}

.dice-d20 {
  background-image: url("../../../images/dices/d20.jpg");
}

.dice-d100 {
  background-image: url("../../../images/dices/d100.jpg");
}

@keyframes rotate__y {
  0% {
  }
  25% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  75% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes opacity__change {
  0% {
    opacity: 20%;
  }
  100% {
    opacity: 100%;
  }
}

.roller__animation {
  //animation-name: rotate__y, opacity__change;
  //animation-duration: 1s, 2s;
  //animation-iteration-count: 1;
  animation: opacity__change 2s ease 0s 1, rotate__y 1s ease 0s 1;
}