//colors:
$mainColor: #171516;

$diceD4Color: #724c9f;
$diceD6Color: #f57d48;
$diceD8Color: #505153;
$diceD10Color: #01b0ab;
$diceD12Color: #ef4b80;
$diceD20Color: #0076be;
$diceD100Color: #fdd772;

$buttonsColor: #df405a;
$buttonsColor2: #df6d6a;
$buttonsColor3: #8266a4;

$disabledColor: #CAC0D6;

$fontColor: #f4f5f9;

//fonts:
$mainFont: 'Balsamiq Sans';